
:root {
  --light-green: #f2f7f2;
  --dark-green: #2c4741;
  --med-green: #295f3a;
  --dark: #19191f;
  --navy: rgb(4, 24, 49);
  --body: rgb(240, 252, 246);
}

.dark-green {
  background-color: var(--dark-green);
}

.med-green {
  background-color: var(--med-green);
}

.dark {
  background-color: var(--dark);
}

.navy {
  background-color: var(--navy);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, 
*::before,
*::after {
 padding:0;
 margin:0;
 box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:visited {
  text-decoration: none;
  padding: 0.5rem;
  color:inherit;
}

img {
  width:100%;
  display: block;
}

.landing-page {
  background-image: url('../src/images/matrix-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  width:100%;
  height: 100%;
}

.App {
  background-image: url('../src/images/matrix-escape-gray.jpg');
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  min-width: 100vw;
  min-height: 100vh;
}

.header {
 position: fixed;
 top:0;
 width:100%;
 z-index: 999;
}

.home-page{
  padding-top: 6.5em;
  padding-bottom: 2.5rem;
}

.post-list {
  max-width: 25vw;
  background-color: white;
}

.comments-list__item{
  color: black;
}

.created-by {
  font-size: smaller;
  font-weight: bolder;
}


.login-join-background, .post-form {
  align-self: center;
  max-width: 25vw;
  margin-left: 5vw;
  background-color: white;
  padding: 1em 2em;
  box-shadow: 0 0.5em 1em rgb(44 71 65 / 15%);
  border-radius: 0.5rem;
}

.main-container {
  background-color: white;
  max-width: 32vw;
  margin: 0 auto;
  box-shadow: 0 0.5em 1em rgb(44 71 65 / 25%);
  padding-top: 0.1rem;
  border-radius: 0.5rem;
}

.post-form {
  position: relative;
  margin: 2em auto !important;
}

.post-form::after {
  position: absolute;
  content: '';
  height: 1px;
  background: darkgray;
  width: 100%;
  bottom: -16px;
  left: 0;
  right: 0;
}

.form-title {
  text-align: center;
  margin-bottom: 0.6em !important;
  color:var(--med-green);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-list, .comments-list {
list-style: none;
gap:1rem;
}

.nav-link {
  cursor: pointer;
  color:white;
}

.no-display {
  display: none !important;
}

.flex {
  display:flex;
  gap:1rem;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-columns {
  flex-direction: column;
}

.center {
  margin: auto;
}

input.forminput,
textarea.forminput,
textarea,
input {
  float: right;
  color: rgb(97, 96, 96);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border: solid 1px gray;
  border-radius: 0.5rem;
  line-height: 1.375rem;
  min-height: 2.6rem;
  padding: 0 0.625rem;   
}

.btn, .btn-modal {
  cursor: pointer;
  border-radius: 0.6rem;
  width: 100%;
  color: white;
  font-size: 1rem;
  line-height: 1.375rem;
  min-height: 2.6rem;
  
}
.btn {
  background-color: var(--med-green);
  border-color: white;
  padding: 0 .625rem;
  margin-bottom: 0.5rem;
}

.btn-modal {
  background-color: rgb(240, 236, 236);
  color:rgb(105, 103, 103);
  font-weight:bolder ;
  text-align: left;
  padding-left: 0.5em;
}

.modal-overlay {
  position: fixed;
  top:0;
  left:0;
  z-index:10;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.7); ;
}
.form-modal {
  position: relative;
  padding: 1em 2em;
  background: white;
  top: 7em;
  max-width: 33%;
  margin: 1em auto;
  overflow-y: auto;
}

.icons {
  border:initial;
  background-color: initial;
  font-weight:bolder;
}

.icon-x {
  position:absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
}

.icon-x svg path:hover {
  stroke-width: 5;
}

.link {
  color:var(--med-green);
  font-weight: bolder;
}

