
:root {
  --light-green: #f2f7f2;
  --dark-green: #2c4741;
  --med-green: #295f3a;
  --med-gray: rgb(172, 171, 167);
  --light-gray: rgba(222,222,222, 0.9);
  --dark: #19191f;
  --navy: rgb(4, 24, 49);
  --body: rgb(243, 242, 239);
}

.med-gray {
  background-color: var(--med-gray);
}

.dark-green {
  background-color: var(--dark-green);
}

.med-green {
  background-color: var(--med-green);
}

.dark {
  background-color: var(--dark);
}

.navy {
  background-color: var(--navy);
}

.med-gray-font {
  color:var(--med-gray);
}

.navy-font {
  color:var(--navy);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*, 
*::before,
*::after {
 padding:0;
 margin:0;
 box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.modal-open {
  overflow:hidden;
}
h1,h2,h3,h4 {
  padding-left: 0.5rem;
  line-height: 1;
}

.m-l-5 {
  margin-left: 0.5rem !important;
}

a, a:visited {
  text-decoration: none;
  color:inherit;
}

img {
  width:100%;
  display: block;
}

.bold {
  font-weight: 700;
}

.landing-page {
  background-image: url('../src/images/matrix-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  width:100%;
  height: 100%;
}

.App {
  background-image: url('../src/images/matrix-escape-gray.jpg');
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  min-width: 100vw;
  min-height: 100vh;
}

.header {
 position: fixed;
 top:0;
 width:100%;
 z-index: 999;
}
.logo {
  color: white;
  margin-left: 0.5rem;
  line-height: 1.3;
}
.home-page{
  padding-top: 6.5em;
  padding-bottom: 2.5rem;
}

.feed-layout {
  max-width: 70vw;
  flex-grow: 1;
  gap:3rem !important;
}

.main-container, .side-container {
  background-color: rgb(255,255,255,0.8);
  box-shadow: 0 0.5em 1em rgb(44 71 65 / 25%);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;;
  border-radius: 0.6rem;
}

.main-container {
  flex-basis: 60%;
}

.side-container {
  max-height: 60vh;
  flex-basis: 30%;
}

.post-list {
  max-width: 25vw;
  background-color: white;
}

.group-list, .my-profile {
  list-style: none;
  max-width: 90%;
  margin: 1rem 5%;
  color: var(--navy);
  font-weight: 700;
  font-size: 1.2rem;
  background-color: white;
}

.my-profile > li {
  font-weight: 500;
}

.groups, .profile {
  max-width: 90%;
  margin:2rem;
}

.group-page {
  width: 95%;
  text-align: center;
  background-color: transparent !important;
}

.comment-list__item,
.like-list__item {
  background-color: var(--body);
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
  padding-left: 5px;
  grid-gap:0.1rem !important;
}
.comment-list__body {
  padding-left: 5px;
}

.created-by-on {
  font-size: smaller;
  font-weight: bolder;
  padding-right: 5px;
}

input.forminput,
textarea.forminput,
textarea,
input,
#postGroup {
  float: right;
  color: var(--med-gray);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border: solid 1px var(--med-gray);
  border-radius: 1.5rem;
  line-height: 1.375rem;
  min-height: 2.6rem;
  padding: 0 0.625rem;   
}

.login-join-background, .post-form, .search-form, .group-form {
  align-self: center;
  max-width: 25vw;
  margin-left: 5vw;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0 0.5em 1em rgb(44 71 65 / 15%);
  border-radius: 0.6rem;
}


.post-form, .search-form, .group-form {
  position: relative;
  margin: 2rem auto !important;
}

.search-form, .group-form {
  max-width :90%;
  margin: 2rem auto;
}

.search-form input{
  width:95%;
  margin-left: 0.3rem;
  border:initial;
  color:var(--navy);
  background-color: var(--light-gray);
}

.group-form__title {
  color: var(--med-gray);
  font-size: 1rem;
  margin-left: 0.3rem;
  border:initial;
  color:var(--navy);
  line-height: 1.375rem;
  padding: 0 0.625rem;
}

.search-form input:focus {
  outline: none;
}

.search-form-input:hover, .search-form input:hover, .group-form__btn:hover{
  background-color: white;
}

.search-form-input, .group-form__btn  {
  border: var(--med-gray) solid 2px;
  border-radius: 1.5rem;
  width: 95%;
  font-weight: 600;
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--light-gray);
}

.group-form__btn {
  font-size: 1.4rem;
  width: 100%;
  padding: 0 0.625rem;
  min-height: 2.6rem;
  margin: 0.5rem;
  cursor: pointer;
}

.interactions {
  gap: 0.5rem !important;
  position: relative;
  padding: 0.2rem 0;
}

.post-form::after,
.interactions::after {
  position: absolute;
  content: '';
  height: 1px;
  background: var(--med-gray);
  width: 100%;
  left: 0;
  right: 0;
}

.post-form::after {
  bottom: -16px;
}
.interactions::after {
  bottom: -4px;
}

.add-comment, .like-post {
  margin-top: 0.5rem;
}

.comment-input {
  width: 100%;
  margin:1em 0.1em;
  border-radius: 0.75rem;
}

.form-title {
  display: inline-block;
  text-align: center;
  margin-bottom: 0.6em !important;
  color:var(--med-green);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.nav {
  margin: 0.3rem 1rem;

}

.nav-list, .comments-list {
list-style: none;
gap:1rem !important;
}

.nav-link {
  cursor: pointer;
  color:white;
  font-weight: 600;
}

.nav-link:hover {
  color: var(--light-green);
  opacity: 0.9;
}

.no-display {
  display: none !important;
}

.card {
  box-shadow: 0 0.5em 1em rgb(44 71 65 / 15%);
  border-radius: 1rem;
  padding: 0.5em 1em;
  margin-top:2rem;
  background-color: white;
}

.card +.card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-title {
  border-bottom: var(--navy) solid 2px;
  padding-bottom: 0.3rem;
  font-size: 1.4rem;
}

.card-image {
  gap:0.1rem !important;
  box-shadow: 0 0.5em 1em rgb(44 71 65 / 10%);
}
.flex {
  display:flex;
  gap:0.2rem;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-left {
  justify-content: left;
}

.flex-columns {
  flex-direction: column;
}

.center {
  margin: auto;
  vertical-align: middle;
}

.btn, .btn-modal, .dropdwon-trigger {
  cursor: pointer;
  border-radius: 0.6rem;
  width: 100%;
  color: white;
  font-size: 1rem;
  line-height: 1.375rem;
  min-height: 2.6rem;
  
}
.btn {
  background-color: var(--med-green);
  border-color: white;
  padding: 0 .625rem;
  margin-bottom: 0.5rem;
}

.btn-modal{
  background-color: var(--light-gray);
  border-radius: 1.5rem;
  color:var(--navy);
  font-weight:bolder ;
  text-align: left;
  padding-left: 0.5em;
}


.btn-no-styling {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  align-self: start;
}

.btn-no-styling:hover {
  text-decoration: underline;
  color: blue;
}
.modal-overlay {
  position: fixed;
  top:0;
  left:0;
  z-index:10;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.7); ;
}
.form-modal {
  position: relative;
  padding: 1em 2em;
  background: white;
  top: 7em;
  max-width: 33%;
  margin: 1em auto;
  overflow-y: auto;
  border-radius: 0.6rem;
}

.icons {
  border:initial;
  background-color: initial;
  font-weight:bolder;
}

.icon-x {
  position:absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
}

.icon-x svg path:hover {
  stroke-width: 5;
}

.link {
  color:var(--med-green);
  font-weight: bolder;
  
}

